<section class="my-30">
  <section class="container mx-auto">
    <div class="grid lg:grid-cols-3 grid-cols-1 gap-10">
      <div class="col-span-1">
        <div class="bg-white p-4 shadow border border-neutral-200 rounded-2xl">
          <div class="flex flex-col gap-3">
            <div class="flex flex-row gap-3 items-center">
              <div class="bg-base-300 rounded-full p-2.5">
                <i class="fa-solid fa-phone-volume fa-2x text-neutral-600"></i>
              </div>
              <div class="flex flex-col">
                <h3 class="text-red-500 font-bold">
                  Números
                </h3>
                <div class="flex flex-row gap-3">
                  <a href="">322 220 5301</a>
                  <a href="">322 220 5301</a>
                </div>
              </div>
            </div>
            <div class="border-t border-neutral-300 border-dashed"></div>
            <div class="flex flex-row gap-3 items-center">
              <div class="bg-base-300 rounded-full p-2.5">
                <i class="fa-solid fa-map fa-2x text-neutral-600"></i>
              </div>
              <div class="flex flex-col">
                <h3 class="text-red-500 font-bold">
                  Sedes
                </h3>
                <div class="flex flex-col gap-1">
                  <a href="">Av calle 17 a # 27 27 Bogotá DC</a>
                  <a href="">Av calle 17 a # 27 27 Bogotá DC</a>
                </div>
              </div>
            </div>
            <div class="border-t border-neutral-300 border-dashed"></div>
            <div class="flex flex-row gap-3 items-center">
              <div class="bg-base-300 rounded-full p-2.5">
                <i class="fa-solid fa-envelope fa-2x text-neutral-600"></i>
              </div>
              <div class="flex flex-col">
                <h3 class="text-red-500 font-bold">
                  Correo electrónico
                </h3>
                <div class="flex flex-row gap-3">
                  <a href="">correoelectronico a gmail.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:col-span-2 col-span-1">
        <div class="bg-white p-10 shadow border border-neutral-200 rounded-2xl">
          <form>
            <div class="flex flex-col gap-3">
              <div class="text-center">
                <h3 class="text-4xl font-bold text-orange-500 mb-2">
                  Formulario de contacto
                </h3>
                <div class="w-[160px] h-[1px] bg-gray-300 relative mx-auto my-4">
    <div class="absolute left-1/2 -translate-x-1/2 w-[40px] h-[2px] bg-red-500"></div>
  </div>
                <p>Para cualquier aclaración o duda, puede ponerse en contacto con nosotros.</p>
              </div>
              <label class="text-lg font-bold text-gray-700">Nombre completo</label>
              <label class="input w-full">
                <div class="label">
                  <i class="fa-solid fa-user"></i>
                </div>
                <input type="text" class="grow" placeholder="Pepito Perez" />
              </label>
              <label class="text-lg font-bold text-gray-700">Celular</label>
              <label class="input w-full">
                <div class="label">
                  <i class="fa-solid fa-phone"></i>
                </div>
                <input type="text" class="grow" placeholder="3000000000" />
              </label>
              <label class="text-lg font-bold text-gray-700">Asunto</label>
              <label class="input w-full">
                <div class="label">
                  <i class="fa-solid fa-tag"></i>
                </div>

                <input type="text" class="grow" placeholder="Asunto" />
              </label>
              <label class="text-lg font-bold text-gray-700">Mensaje</label>
              <textarea class="textarea w-full resize-none" placeholder="Mensaje" rows="4"></textarea>

              <div class="divider"> Opciones </div>
              <button class="btn btn-wide btn-neutral mx-auto">Enviar mensaje</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="my-10"></div>
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-10">
      <div class="col-span-1">
        <div class="bg-white p-10 shadow border border-neutral-200 rounded-2xl">
          <img src="images/map-1.jpg" alt="mapa">
        </div>
      </div>
      <div class="col-span-1">
        <div class="bg-white p-10 shadow border border-neutral-200 rounded-2xl">
          <img src="images/map-1.jpg" alt="mapa">
        </div>
      </div>
    </div>
  </section>
