<div class="drawer-overlay" (click)="onToggleDrawer()"></div>
<div class="bg-neutral-100 w-80 h-screen">
  <div class="flex flex-col gap-5 pt-4" (click)="onToggleDrawer()">
    <div class="mx-auto">
      <logo class="text-center py-4" />
    </div>
    <div class="border-t border-neutral-300 border-dashed"></div>
    <menu-items
      class="bg-neutral-200 py-5"
      isSidebar />
    <div class="border-t border-neutral-300 border-dashed"></div>
    <h3 class="text-center">{{callNumber}}</h3>
  </div>
</div>
