<section class="bg-neutral-100 py-5 text-base-content text-center w-full">
  <div class="container mx-auto">
    <div class="grid grid-cols-4 gap-5 place-items-center"
      data-aos="zoom-in">
      @for (payMethod of payMethods; track $index) {
        <div class="tooltip" [attr.data-tip]="payMethod.alt">
          <img [src]="payMethod.image"
            [alt]="payMethod.alt"
            class="transition-transform duration-300 hover:scale-110"
            >
        </div>
      }
    </div>
  </div>
</section>
