<hero />
<stats />

<ui-title
  title="Productos"
  subtitle="Pollo Crudo, entero y por presas"/>

<products />
<pay-methods />
<div class="my-10"></div>

<ui-title
  title="Encuéntranos"
  subtitle="Contamos con 2 sedes para estar más cerca de ti"/>

<location-list/>
<div class="my-10"></div>
<location-maps/>

<div class="my-10"></div>
<ui-title
  title="Horario y días de atención"
  subtitle="Porque tu tiempo es importante, aquí están nuestros horarios"/>

<business-hours/>
  <!-- <div class="container mx-3">
    <ul class="list bg-base-100 rounded-box shadow-md">
      <li class="list-row">
        <div class="text-4xl font-thin opacity-30 tabular-nums">01</div>
        <div class="list-col-grow">
          <div> Direccion 100 # 100 - 1 local 1- 20 </div>
          <div class="text-xs uppercase font-semibold opacity-60">
            <div> Sede en [Mpio] [Dpto]</div>
          </div>
        </div>
        <div class="flex flex-row gap-3">
          <button class="btn">waze</button>
          <button class="btn">maps</button>
        </div>
      </li>
      <li class="list-row">
        <div class="text-4xl font-thin opacity-30 tabular-nums">02</div>
        <div class="list-col-grow">
          <div> Direccion 100 # 100 - 1 local 1- 20 </div>
          <div> Sede en [Mpio] [Dpto]</div>
        </div>
        <div class="flex flex-row gap-3">
          <button class="btn">waze</button>
          <button class="btn">maps</button>
        </div>
      </li>
    </ul>
    <section class="my-20">
      <div class="container bg-gray-200 mx-auto px-4 py-10">
        <div class="flex flex-col justify-center items-center gap-3">
          <h2 class="sm:text-4xl text-3xl font-bold">
            Horario y días de atención
          </h2>
          <div class="w-[160px] h-[1px] bg-gray-300 relative mx-auto my-8">
            <div class="absolute left-1/2 -translate-x-1/2 w-[40px] h-[2px] bg-red-500"></div>
          </div>
          <p class="sm:text-2xl text-xl">Lunes a Viernes : <span class="font-bold text-orange-500">06:00AM a 6:00 PM</span></p>
          <p class="sm:text-2xl text-xl">Sabado y Domingo: <span class="font-bold text-orange-500">06:00AM a 2:00 PM</span></p>
          <p class="sm:text-2xl text-xl">Festivos : <span class="font-bold text-red-600">No se atiende</span></p>
        </div>
      </div>
    </section>
  </div> -->


