
  /* font-family: "Alumni Sans SC", sans-serif; */
  /* border-radius: 24px; */


/* @layer components {
  .active {
    background-color: theme(colors.blue.500);
    padding: theme(spacing.4);
    border-radius: theme(borderRadius.lg);
  }
} */
