<div class="container mx-auto">
  <div class="grid sm:grid-cols-1 md:grid-cols-2 place-items-center gap-3">
    @for (category of categories; track $index) {
      <div class="card image-full w-96 shadow-sm" data-aos="fade-right">
        <figure>
          <img [src]="category.image" alt="category-image"
            class="transition-transform duration-500 hover:scale-110 object-cover w-full h-full" />
        </figure>
        <div class="card-body">
          <h2 class="card-title text-2xl">
            {{category.title}}
          </h2>
          <p>
            {{category.description}}
          </p>
          <div class="card-actions justify-end">
          <a class="btn btn-success btn-lg text-white "
            [href]="whatsappUrl+category.message"
            target="_blank">
              <i class="fa-brands fa-whatsapp"></i>
                Mas información
            </a>
          </div>
        </div>
      </div>
    }
  </div>

</div>
