@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  /* --color-warning: yellow; */
  --color-error: #FF0010;
  --color-success: #5EA500;
}


body {
  font-family: 'Roboto', Helvetica, sans-serif
}
@layer base {
  ::placeholder {
   @apply text-gray-400;
  }
}

@layer utilities {
  @supports (color: color-mix(in lab, red, red)) {
    .stats-horizontal .stat:not(:last-child) {
      border-inline-end: var(--border) dashed color-mix(in oklab, currentColor 10%, #0000002e);
    }
  }
}


@layer utilities {
  :is(.list > :not(:last-child).list-row, .list > :not(:last-child) .list-row)::after {
    border-color: #26262630;
  }
}
