@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-warning: yellow;
  --color-error: #FF0010;


}


body {
  font-family: 'Roboto', Helvetica, sans-serif
}
@layer base {
  ::placeholder {
   @apply text-gray-400;
  }
}
