<div class="container mx-auto">
  <ul class="list rounded-box shadow-md">
    @for (locationElement of locationList; track $index; let first = $first;) {
      <li class="list-row items-center hover:bg-amber-200 bg-amber-100"
        data-aos="fade-right">
        <div class="text-3xl font-thin opacity-30 tabular-nums">
          @if(first){
            <i class="fa-solid fa-house"></i>
          }
          @else{
            <i class="fa-solid fa-location-dot"></i>
          }
        </div>
        <div class="list-col-grow sm:text-base text-sm ">
          <div class="flex flex-col gap-3">
            <p class="font-bold">
              {{locationElement.address}}
            </p>
            <p class="text-xs uppercase font-semibold opacity-60">
              {{locationElement.location}}
            </p>
          </div>
        </div>
        <div class="flex sm:flex-row flex-col gap-2">
          <a [href]="locationElement.url.waze"
            class="btn btn-warning btn-md md:btn-lg">
              <i class="fa-brands fa-waze"></i>
              Waze
          </a>
          <a [href]="locationElement.url.maps"
            class="btn btn-warning btn-md md:btn-lg">
              <i class="fa-solid fa-map"></i>
              Maps
          </a>
        </div>
      </li>
    }
  </ul>
</div>
